<!--navbar-->
<nav class="navbar sporttimenu navbar-fixed-top">
    <div class="keskiotsikko">
        <a id="teksti" href="#/">WannaApp</a>
        <div class="dropdown pull-right">

            <!--notifications container-->
            <!--vaatii kaks klikkausta jostain syystä-->
            <a href="javascript:void(0)" ng-class="{'active': notificationsToggled}" class="dropdown-toggle pull-right" ng-mousedown="checkNotifications()" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-globe"><span class="badge notif-float" ng-if="newNotifs > 0">{{newNotifs}}</span></span>
            </a>
            <ul ng-show="notificationsToggled" class="dropdown-menu animate-show">
                <h4 class='text-center'>Ilmoitukset</h4>
                <button ng-if="notifications.length === 0" class="list-group-item">
                    Ei ilmoituksia :-)
                </button>
                <a ng-repeat="ntf in notifications| orderBy:'-createdAt' | limitTo:10" type="button" class="listnotification list-group-item"
                        ng-class="{'list-group-item-info': ntf.unread}" ng-href="#/event/{{ntf.event}}">
                    {{ntf.message}} 
                    <p class="nomargin"><em>({{ntf.createdAt| date:'d.M. H:mm'}})</em></p>
                </a>
            </ul>
        </div>
        <a class="pull-left" href="#/calendar" ng-click="checkCalendar()">
            <span class="glyphicon glyphicon-calendar">
                <span class="badge notif-float" ng-if="newEvents > 0">{{newEvents}}</span>    
            </span>
        </a>
    </div>
</nav>
<div class="topmargin"></div>
<!--notification popup-->
<div class="notification animate-show" ng-show="notification" ng-bind="notification">
    <button class="close" ng-click="notification = ''">x</button>
</div>
<!--loading animation-->
<div ng-hide="userID" class="loading-container">
    <div class="cssload-whirlpool"></div>
</div>
<!--angular view container-->
<div class="container-fluid nopadding">
    <div ng-view></div>
</div>
<!--footer-->
<footer ng-show="userID">
    © 2016 Joope. Some Cool Text Here So It Doesn't Look So Empty
</footer>

