<!--signup page-->
<div ng-app="WannaApp" ng-controller="LoginController" class="container-fluid">
    <div class="loginForm">
        <!-- Select nickname -->
        <div class='animate-show'>
            <h1>Tervetuloa!</h1>
            <em>"WannaApp on korvaamaton, siksi käytän sitä joka päivä"</em> - Silli94
            <form name="userForm" class="form-group">
                <a href="/auth/google" class="btn btn-login btn-info">
                    Kirjaudu Googlella
                </a>
            </form>
            <p class="error" ng-bind="error"></p>
        </div>
    </div>
</div>
