.normal {
    background-color: #99ccff;
}
.clicked {
    background-color: #99ff99;
}
.nav-link-right{
    float: right;
    padding-left: 1em;
}
.paaotsikko {
    color: #f5f5f5;
}

.loginForm {
    text-align: center;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    min-height: 40vh;
    background-color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 400px;
    border-radius: 15px;
}
.place {
    color: #036184;
}
.time {
    color: #555;
}

.nomargin {
    margin: 0;
}

.notification {
    z-index: 999;
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: #ffc044;
    color: white;
    font-size: 18px;
    min-height: 40px;
    padding: 7px;
}
.dropdown-menu {
    color: #363636 !important;
    width: 100%;
    padding: 0;
    z-index: 1001;
    display: block;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    /*box-shadow: 0px 27px 28px -12px rgba(94,94,94,1);*/
    border: 0;
}
@media (max-width: 768px) {
    .navbar-collapse {
        box-shadow: 0px 27px 28px -12px rgba(94,94,94,1);
    }
    .dropdown-menu {
        width: 100vw;
    }
}

@media (min-width: 768px){
    .dropdown-menu {
        width: 300px;
    }
}

.ilmoitukset {
    display: inline-block;
    border-collapse: collapse;
    height: calc(60vh);
    /*  width: calc(100vw - 610px);*/
    border-width: medium;
    overflow: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.valikko {
    position: relative;
    display: inline-block;
    width: 100%;
}
.valikko-container {
    display: block;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    position: absolute;
    z-index: 999;
    width: 100%;
    padding-right: 20px;
}
.valikko-item {
    display: block;
    background-color: #ececec;
}

ul{
    margin-top: 5px;
    margin-bottom: 3px;
    padding-left: 0px;
    list-style: none;
}

ul#tags li {
    display:inline-block;
    margin-left: 5px;
    padding-left: 7px;
}
.btn_remove {
    /*    color: #A00000;*/
    padding: 2px;
    border: none;
}

.input {
    width: 100%;
}
form {
    padding-left: 5px;
    padding-right: 5px;
}

.paneeli {
    margin-bottom: 1px;
}

.otsikko {
    text-align: center!important;
    background-color: #ff7474!important;
    color: white!important;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.nimi {
    font-size: 18px;
    margin-top: 3px;
    padding-left: 10px;
    text-align: center;
}

.searchHeader {
    color: #212121;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
}
.eventHeader {
    margin-top: 0px;
    text-align: center; 
}

.btn_add{
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 0;
    float: right;
}

.osallistujat {
    display: inline-block;
    max-width: 100px;
}

.events {
    padding-top: 0px;
    max-width: 650px;
    margin: auto;
}

.addEvent {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1px;
}

.nopadding {
    padding: 0px;
}

.date {
    padding-right: 10px;
    font-size: 12px;
}

.stripe-1 {
    background: repeating-linear-gradient(
        45deg,
        #606dbc,
        #606dbc 10px,
        #465298 10px,
        #465298 20px
        );
}

.animate-event {}

.animate-show {
    opacity: 1;
}

.animate-show.ng-hide-remove{
    transition: all ease-out 0.5s;
}

.animate-show.ng-hide-add {
    transition: all linear 0.1s;
}

.animate-show.ng-hide {
    opacity: 0;
}

.tag {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    background-color: #4ac6ea;
    border-color: #b1e5ff;
    border-width: 1px;
    border-style: solid;
    color: #fdffdc;
    margin-left: 2px;
    margin-bottom: 2px;
}

body{
    background-color: white;
}
#searchbar {
    padding-top: 10px;
    width: 100%;
    text-align: left;
}
.searchForm {
    margin-top: 10px;
}
#results {
    /* background-color: white; */
    margin: auto;
    max-width: 650px;
}
#events {
}
.badge-success {
    background-color: #4bd842;
}
.badge-info {
    background-color: #3ecbf9;
}

.borders {
    background-color: #4daeda;
    border-radius: 10px;
    border-color: #e8e8e8;
    border-style: solid;
    border-width: 1px;
}

.nopadding {
    padding: 0px;
}

.lomake {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    max-width: 650px;
    display: block;
    min-height: calc(100vh - 120px);
    padding-bottom: 10px;
    margin-bottom: 30px;
    /* margin-top: 100px; */
}

.btn_join {
    min-width: 8em;
}

.numerovalitsin {
    width: 4em!important;
    margin: 0!important;
    display:inline-block;
    text-align: center;
}
.lisayspainike {
    background-color: #e2ffd3;
    color: green;
    border: 2px solid green;
}
.vahennyspainike {
    background-color: #ffe9e9;
    color: red;
    border: 2px solid red;
}

.navbar-collapse {
    text-align:center;
}
.navbar-nav {
    display:inline-block;
    float:none;
}
.sivu_otsikko {
    display:inline-block;
    float:none;
    text-align:center;
}

.navbar-collapse {
    border: none!important;
}
.navbar-toggle {
    font-size: 24px;
    padding: 11px 15px 5px 15px!important;
    border: 0;
    margin: 0;
}
.navbar-toggle:focus {
    background-color: #2cd1ff;
}

.event_wrapper a:hover {
    background-color: #c4ff97!important;
}
.event_wrapper a:active {
    background-color: #98ff68!important;
}
.event-clicked {
    background-color: #c4ff97!important;
}
.info-wrapper{
    border-bottom-left-radius: 10px!important;
    border-bottom-right-radius: 10px!important;
    background-color: white;
}

.event_info {
    /*    border-top: 1px solid black;*/
    padding-top: 10px;
    text-align: center;
}

.menuikoni {
    float: right;
    margin-left: 10px;
}

.sporttimenu {
    
    background-color: #2cd1ff;
    display: inline-block;
    /*border: 1px solid black;*/
}

.sporttimenu > div > a {
    color: rgb(248, 248, 248)!important;
    list-style: none;
    display:inline;
    text-decoration: none;
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-right: 20px;
}
/*this could trigger someone*/
.sporttimenu > div > div > a {
    color: rgb(248, 248, 248)!important;
    list-style: none;
    display:inline;
    text-decoration: none;
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.sporttimenu > div > a:hover {
    color: #fff!important;
}
.active {
    background-color: #0087a7;
}

.keskiotsikko{
    text-align: center;
    height: 50px;
    max-width: 772px;
    margin: auto;
}

.keskiotsikko #teksti{
    color: #fff!important;
    line-height: 50px;
    padding-bottom: 15px;
}

.sporttimenu div {
    /*    padding-top: 7px;*/
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.sporttimenu a {
/*    color: #fff!important;*/
    /*line-height: 2.5;*/
    font-size: 20px;
}
.navbar-toggle{
    color: #fff!important;
}
.navbar-inverse .navbar-toggle{
    border-color: #3ecbf9!important;
}

.control-label{
    margin-top: 5px!important;
    /*margin-bottom: 0px!important;*/
    text-align: center;
}

.topmargin {
    margin-top: 50px;
}

.remove-btn {
    color: #363636;
    border-radius: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #ffffff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.btn-add {
    color: white;
    min-width: 3.5em;
    background-color: #5ff555;
    z-index: 2; 
    margin-left: -2px; 
    border-color: #a7bba9;
    border: 1px solid transparent;
    border-radius: 4px;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
}

.btn-add:hover {
    background-color: #adfff6;
    color: white;
}

.remove-btn:hover {
    background-color: #ffc520;
}

.modal-header {
    padding-left: 50px!important;
    padding-bottom: 5px!important;
    padding-top: 5px!important;
    padding-right: 0;
}
.modal-title {
    line-height: 1.9;
}
.btn-close {
    color: gray;
}

.modal-pohja {
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 0;
    border-top: 1px solid #e5e5e5;
}

.modal-sisalto {
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
}
.modal-content {
    color: #ff7474;
    padding-bottom: 10px;
}
.modal-dialog {
    margin-left: auto;
    margin-right: auto;
}
.list-group-item-success {
    background-color: #e0ffd4;
}
.list-group-item {
    border-color: #e8e8e8;
}
.valmis {
    font-size: 12px;
}
.btn-login {
    margin: 10px;
}
footer {
    position: relative;
    color: #d6d6d6;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #1c3238;
    text-align: center;
}

.container-fluid {
    /*background-image: url("/images/tausta3.jpg");*/
    background-color: rgb(221, 235, 239);
    background-size: 1500px 600px;
    background-repeat: no-repeat;
}

.notif-float{
    position: absolute;
    left: 10px;
    bottom: 9px;
    background-color: #ff7474;
}
.listnotification {
    color: #555!important;
    font-size: 14px!important;
}

.form-info {
    font-size: 12px;
}