<p>moi {{userLoggedIn}} {{userID}}</p>
<div class="row lomake">
<!--    <button ng-click="debug()">Paina mua</button>-->
    <!-- Select nickname -->
    <div ng-hide='userLoggedIn'>
        <h1>Valitse käyttäjätunnus</h1>
        <form name="userForm" class="form-inline">
            <input type="text" class="form-control" ng-model='nick' placeholder='nimi tai nick'
                   required ng-minlength='3'>
            <button class="btn btn-primary" ng-click="newNick(nick)" 
                   ng-disabled="!userForm.$valid">Jatka
            </button>
        </form>
    </div>
    
    <div ng-show="userLoggedIn">
        <!-- Search bar -->
        <form name="wannaForm" class="form-inline">
            <h2>Mitä haluaisit tehdä?</h2>
            <input type="text" class="form-control" ng-model='what' 
                   placeholder="etsi tekemisiä" required autofocus>
            <button class="btn btn-primary " ng-click="addNew()"
                    ng-disabled="!wannaForm.$valid"> Lisää </button>
        </form>
        <!--User selections-->
        <div>
            <ul>
                <button class="tag" ng-repeat="wanna in userList">{{wanna.name}}</button>
            </ul>
        </div>
        <!--List of suggestions-->
        <div id="searchbar" ng-show="what" class="list group">
            <button type="button" class="list-group-item" 
                    ng-repeat="wanna in wannaList | filter:what | orderBy:'-popularity' | limitTo:15" 
                    ng-click="wannaClicked(wanna)"
                    ng-class="checkUsers(wanna) ? 'list-group-item-success' : ''"
                    title='{{getWannaUsers(wanna)}}'>
                {{wanna.name}} <span class="label label-default label-pill pull-xs-right">{{wanna.popularity}}</span>
            </button>
        </div>
    </div>
</div>