<p>1.) lisää kiinnostuksen kohteita </p>
<p>2.) liity tapahtumiin tai luo tapahtumia </p>
<p>3.) jos on tarpeeksi osallistuja niin tapahtuma lukitaan ja se näkyy vihreällä omassa listassa</p>
<div class="row lomake borders">
<!--    <button ng-click="debug()">Paina mua</button>-->
    <!-- Select nickname -->
    <div class='animate-show'  ng-hide='userLoggedIn'>
        <h1>Valitse käyttäjätunnus</h1>
        <form name="userForm" class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" ng-model='nick' placeholder='nimi tai nick'
                       required ng-minlength='3' maxlength="20">
                <span class="input-group-btn">
                    <button class="btn btn-info" ng-click="newNick(nick)" 
                           ng-disabled="!userForm.$valid">Jatka
                    </button>
                </span>
            </div>
        </form>
        <p class="error">{{error}}</p>
    </div>
    
    <div class='animate-show' ng-show='userLoggedIn'>
        <!-- Search bar -->
        <h1 class="searchHeader">Mitä haluaisit tehdä?</h1>
        <div>
        <form name="wannaForm" class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" ng-model='what' maxlength="25"
                       placeholder="pelaa cs, ottaa es" required autofocus>
                <span class="input-group-btn">
                    <button class="btn btn-info " ng-click="addNew()"
                            ng-disabled="!wannaForm.$valid"> + 
                    </button>
                </span>
            </div>
        </form>
        <!--User selections-->
        <div>
            <ul id="tags">
                <li class="tag" ng-repeat="wanna in userList">{{wanna.name}}
                    <button class="btn-link btn_remove" ng-click="removeWanna(wanna)">X</button>
                </li>
            </ul>
        </div>
        <!--List of suggestions-->
        <div id="searchbar" ng-show="what" class="list group">
            <button type="button" class="list-group-item" 
                    ng-repeat="wanna in wannaList | filter:{name: what} | orderBy:'-popularity' | limitTo:15" 
                    ng-click="wannaClicked(wanna)"
                    ng-class="checkUsers(wanna) ? 'list-group-item-info' : ''"
                    title='{{getWannaUsers(wanna)}}'>
                {{wanna.name}} <span class="badge">{{wanna.popularity}}</span>
            </button>
        </div>
        </div>
    </div>
</div>