<div class='lomake'>
    <div id="eventContainer" class="animate-show">
        <h2 class="eventHeader pink">{{event.name}}</h2>

        <p class="text-center">{{dateToRelative(event.date)}} {{event.date| date:'d.M, klo HH:mm'}}</p>
        <p class="list-group-item-heading" >
            <strong>Missä:</strong> <span class="harmaa">{{event.place.name}}</span>
        </p>
        <p class="list-group-item-heading">
            <strong ng-if="event.info" >Lisätietoja:</strong> 
            <span class="harmaa">{{event.info}}</span>
        </p>
        <p class="list-group-item-heading" >
            <strong >Osallistujia: </strong>
            <span class="badge" ng-class="{'badge-info': event.currentSize > 1 && !event.ready, 'badge-success': event.ready}">
                {{event.currentSize}}/{{event.maxSize}} 
            </span>
            <span ng-if="event.ready && event.currentSize < event.maxSize" class="green"> osallistujia tarvittava määrä!</span>
            <span ng-if="event.ready && event.currentSize === event.maxSize" class="harmaa"> tapahtuma on täynnä.</span>
        </p>
        <p class="list-group-item-heading">
            <strong >Osallistujat:</strong> 
            <span class="harmaa">{{event.userList}}</span>
        </p>
        <div class="event_info">
            <button class="btn btn_join" type="button" ng-disabled="event.joined" ng-click="join(event)"
                    ng-class="{'btn-info' : event.joined , 'btn-success' : !event.joined}">
                <span ng-if="event.joined">Liitytty!</span><span ng-if="!event.joined">Liity</span>
            </button>
        </div>
    </div>
</div>