<div class='lomake'>
    <div id="searchbar" class="list-group-item animate-show info-wrapper">
        <h2 class="eventHeader">{{event.name}}</h2>

        <p class="text-center">{{dateToRelative(event.date)}} {{event.date| date:'d.M, klo HH:mm'}}</p>
        <p class="eventHeader">
            <span class="badge" ng-class="{'badge-info': event.currentSize > 1 && !event.ready, 'badge-success': event.ready}">
                {{event.currentSize}}/{{event.minSize}} 
            </span>
        </p>
        <p class="list-group-item-heading" >
            <strong>Missä:</strong> {{event.place.name}}
        </p>
        <!--        <p class="list-group-item-text">
                    <strong>Ehdotti:</strong> {{event.creator}}
                </p>-->

        <p class="list-group-item-text">
            <strong ng-if="event.info">Lisätietoja:</strong> {{event.info}}
        </p>
        <p class="list-group-item-text">
            <strong>Osallistujat:</strong> {{event.userList}}
        </p>
        <div class="event_info">
            <button class="btn btn_join" type="button" ng-disabled="event.joined" ng-click="join(event)"
                    ng-class="{'btn-info' : event.joined , 'btn-success' : !event.joined}">
                <span ng-if="event.joined">Liitytty!</span><span ng-if="!event.joined">Liity</span>
            </button>
        </div>
    </div>
</div>